{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .label{width: 95px}
</style>

<div class="container-fluid">
    <div class="card" style="margin:50px auto; width:28rem;">
        <div class="card-header">
            <h2>PLATAFORMA DE SOPORTE</h2>
        </div>
        <div class="card-body">
            <div class="form-group row">
            <div class="col-12">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" style="max-width:100%; max-height:32px; padding:1px 4px" role="alert">
                        {{ error.message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding:1px 4px">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            
                <form action="{{ path('login_check') }}" method="post">
                    <div class="form-group row">
                        <div class="col-12">                
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label for="username" class="input-group-text label" >Username</label>
                                </div>
                                <input type="text" id="username" name="_username" class="form-control" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label for="password" class="input-group-text label">Password</label>
                                </div>                        
                                <input type="password" id="password" name="_password" class="form-control" required />
                            </div> 
                        </div>
                    </div>              

                    <div class="form-check">
                        <input type="checkbox" id="remember_me" name="_remember_me" class="form-check-input" />
                        <label class="form-check-label" for="remember_me">Mantenme conectado</label>
                    </div> 

                    <div class=" col-12 d-flex justify-content-center mt-3">
                        <input class='btn btn-primary' type="submit" name="login" style="width:230px;" />
                    </div>  

                    <div class="col-12 my-3">
                        <div class="d-flex justify-content-center links">
                            No tienes una cuenta? <a href="{{ path('user_registration') }}" class="ml-2">Registrarse</a>
                        </div>
                        {# <div class="d-flex justify-content-center links">
                            <a href="#">Forgot your password?</a>
                        </div> #}
                    </div>             
                </form>
            </div>
        </div>
    </div>
</div>    
    
      
    


{% endblock %}
